*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all linear 300ms;
}

body
{
	min-height: 100vh;
	color: white;
	background-image: linear-gradient(120deg,rgba(0, 128, 0, 0.302),rgba(0, 0, 255, 0.308),rgba(0, 0, 0, 0.337),rgba(128, 0, 128, 0.479));
}

#main
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#bgVideo
{
	position: absolute;
	filter: blur(5px);
	z-index: -1;
	width: 100%;
}

#picFrame
{
	position: relative;
	top: 40px;
	left: 40px;
	display: inline-block;
	width: 300px;
	border: 10px solid orange;
	border-image: linear-gradient(120deg,rgba(0, 128, 0, 0.302),rgba(0, 0, 255, 0.308),rgba(0, 0, 0, 0.337),rgba(128, 0, 128, 0.479)) 100 round ;
	border-radius: 5px;
}

#picFrame h1
{
	text-align: center;
	opacity: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#myPic
{
	border-radius: 10px;
	transform: scale(0.9) translate(50px,50px);
	width: 100%;
}

#picFrame:hover #myPic
{
 transform: scale(0.8);
}

#picFrame:hover #picName
{
	opacity: 1;
}

#aboutMe
{
	position: relative;
	left: 380px;
	top: -250px;
	max-width: 55%;
	word-spacing: 10px;
	letter-spacing: 2px;
	line-height: 150%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border: 10px solid black;
	border-top-left-radius: 100%;
	border-top-right-radius: 10px;
	background-color: black;
	
}

#skills
{
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-around;
	row-gap: 50px;
	background-image: linear-gradient(120deg,rgba(0, 128, 0, 0.302),rgba(0, 0, 255, 0.308),rgba(0, 0, 0, 0.337),rgba(128, 0, 128, 0.479));
}

#skills div
{
	flex-basis: 40vw;
}



.meter
{
	width: 40%;
	height: 50px;
	position: relative;
	left: 20px;
}

#skills h1
{
	display: inline;
	text-align: center;
}